.sidepanel {
	position: fixed;
	top: 230px;
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 400px;
	z-index: 3;

	&__link {
		img {
			background-color: $main-color;
			border: 3px solid $main-color;
			border-radius: 100%;
		}
	}

	&__divider {
		border: 1px solid #fff;
		width: 5px;
		height: 70px;
		background-color: $main-color;
	}

	&__text {
		font-weight: 400;
		color: #fff;
		height: 150px;
		width: 25px;

		span {
			margin-top: 15px;
			background-color: $main-color;
			border: 1px solid #fff;
			border-radius: 5px;
			transform: rotate(-90deg) translate(-30%, -260%);
			display: block;
			width: 160px;
			text-align: center;
		}
	}
}